<div id="control-buttons">
  <button id="open-interface-modal-button" class="button">Connect</button>
  <button id="disconnect-button" class="button">Disconnect</button>
</div>
<div id="signature-pads-container">
  <div class="signature-container">
    <h3 class="signature-title">Signature</h3>
    <div class="signature-header">
      <button id="clear-button" class="button">Clear</button>
      <button id="download-image-button" class="button">Download</button>
    </div>
    <canvas id="canvas" width="2500" height="1000" class="signature-body"
      >Your browser does not support the HTML canvas tag</canvas
    >
  </div>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Select connection interface</p>
    <div class="interface-form">
      <form id="interfaceType">
        <input
          type="radio"
          id="serial"
          name="interface"
          value="SERIALPORT"
          checked
        />
        <label for="serial">Serial port</label><br />
        <input type="radio" id="hid" name="interface" value="HID" />
        <label for="hid">HID</label>
      </form>
      <button id="connect-button" class="button connect-button">Connect</button>
    </div>
  </div>
</div>
